@model List<Productos>
@{
    ViewBag.Titulo = "Productos";
}

<h1>Lista de Productos</h1>

<table class="table table-bordered" >
    <thead>
       <tr>
           <th>Nombre</th>
           <th>Precio</th>
           <th></th>
       </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
                <td>@item.Nombre</td> 
               <td>@item.Precio.ToString("c2")</td>
               <td><a asp-controller="Producto" asp-action="Detalle" asp-route-id="@item.Id" >Detalles</a></td>
           </tr>
            
        }
    </tbody>
</table>

<a></a>