@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Titulo = "Nosotros";
}

<h1>Sobre Nosotros</h1>

<p>
    Siempre que nos compre un instrumento, queremos que esté seguro de que va a ser el instrumento adecuado para usted. Ese ha sido nuestro principal objetivo a lo largo de nuestra historia.
    Por eso sólo vendemos guitarras, bajos y baterías de la más alta calidad.
</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary"> Volver a Inicio</a>