@{
    ViewBag.Titulo="Inicio";
}

<h1 class="mb-3 p-2">Inicio</h1>

<div class="list-group text-center">
    <a class="list-group-item" asp-controller="Producto" asp-action="Lista" >Lista</a>
    <a class="list-group-item" asp-controller="Home" asp-action="About" >Sobre Nosotros</a>
</div>

